# Build output
bin/
obj/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo

# App settings
appsettings.json
appsettings.*.json

# Environment variables
.env

# Firebase credentials
firebase-service-account.json